<template id="baked-hero-section-template">
	<link rel="stylesheet" href="src/components/bakeryHeroSection/styles.css" />
	<div class="baked-hero-section">
		<div class="images-container">
			<img src="src/assets/food/food1.png" alt="food image" />
			<img src="src/assets/food/food2.png" alt="food image" />
			<img src="src/assets/food/food3.png" alt="food image" />
			<img src="src/assets/food/food4.png" alt="food image" />
			<img src="src/assets/food/food5.png" alt="food image" />
		</div>
		<div class="food-content">
			<p class="title">─ bonjour ─</p>
			<h1 class="heading">Serving Baked Goods <span>Every Day</span></h1>
			<p class="content">
				Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
				veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
				commodo consequat.
			</p>
			<a href="#"
				>Shop Now
				<svg
					width="30px"
					viewBox="0 0 24 24"
					fill="red"
					xmlns="http://www.w3.org/2000/svg"
				>
					<g id="SVGRepo_bgCarrier" stroke-width="0"></g>
					<g
						id="SVGRepo_tracerCarrier"
						stroke-linecap="round"
						stroke-linejoin="round"
					></g>
					<g id="SVGRepo_iconCarrier">
						<path
							d="M4 12H20M20 12L16 8M20 12L16 16"
							stroke="#000000"
							stroke-width="2"
							stroke-linecap="round"
							stroke-linejoin="round"
						></path>
					</g>
				</svg>
			</a>
		</div>
	</div>
</template>
